---

{% for app_name, app_port in apps_to_deploy.items() %}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ app_name }}
  namespace: {{ app_name }}
spec:
  tls:
    - hosts:
      - {{ app_name }}.{{ fqdn }}
      secretName: tls-certificate
  rules:
  - host: {{ app_name }}.{{ fqdn }}
    http:
      paths:
      - path: /
        backend:
          serviceName: {{ app_name }}
          servicePort: {{ app_port }}
---
{% endfor %}
{% if kubernetes_enable_web_ui %}
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: dashboard-ingress
  namespace: kubernetes-dashboard
  annotations:
    #nginx.org/ssl-services: "kubernetes-dashboard"
    #ingress.kubernetes.io/ssl-passthrough: "true"
    #nginx.ingress.kubernetes.io/secure-backends: "true"
    nginx.ingress.kubernetes.io/backend-protocol: HTTPS
    nginx.ingress.kubernetes.io/configuration-snippet: |-
      proxy_ssl_server_name on;
      proxy_ssl_name $host;
spec:
  tls:
    - hosts:
      - dashboard.k8s.ingress.cluster.local
      secretName: tls-dashb-certificate
  rules:
  - host: dashboard.k8s.ingress.cluster.local
    http:
      paths:
      - path: /
        backend:
          serviceName: kubernetes-dashboard
          servicePort: 443
{% endif %}

